Assistente-Domotico.json
[{"id":"71a6bdab.ab5b24","type":"tab","label":" Comando de Voz","disabled":false,"info":""},{"id":"dbc097c2.89e948","type":"tab","label":"Rádio RSJC","disabled":false,"info":""},{"id":"1ed90b69.16b9c5","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"a42d9ab2.8bf578","type":"tab","label":"News","disabled":false,"info":""},{"id":"d776c42e.1236b","type":"tab","label":"Autenticação","disabled":false,"info":""},{"id":"39af042b.d2140c","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"f2122b81.427878","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097279","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"eaaa199d.0575c8","type":"ui_group","name":"Lights","tab":"","order":2,"disp":true,"width":6,"collapse":false},{"id":"9e9d7741.238658","type":"ui_group","name":"Senha","tab":"","order":1,"disp":true,"width":11,"collapse":false},{"id":"c20102b4.8186f","type":"ui_spacer","name":"spacer","group":"9e9d7741.238658","order":1,"width":11,"height":1},{"id":"bb45aad9.efc7a8","type":"ui_spacer","name":"spacer","group":"9e9d7741.238658","order":2,"width":11,"height":1},{"id":"ac2c2ad0.fe7e3","type":"ui_spacer","name":"spacer","group":"9e9d7741.238658","order":3,"width":11,"height":1},{"id":"5027972c.cd59b8","type":"ui_spacer","name":"spacer","group":"9e9d7741.238658","order":4,"width":11,"height":1},{"id":"490ed470.1164c4","type":"ui_spacer","name":"spacer","group":"eaaa199d.0575c8","order":4,"width":6,"height":1},{"id":"44ce061d.dc8f8","type":"ui_spacer","name":"spacer","group":"eaaa199d.0575c8","order":5,"width":6,"height":1},{"id":"71d21426.86a694","type":"ui_spacer","name":"spacer","group":"eaaa199d.0575c8","order":6,"width":6,"height":1},{"id":"fd8f8496.866df8","type":"ui_group","name":"Gostaria de ligas as luzes?","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2436a8e.cb30ad8","type":"ui_spacer","name":"spacer","group":"fd8f8496.866df8","order":1,"width":6,"height":1},{"id":"a7798b99.08ab98","type":"ui_group","name":"Luzes","tab":"4e3e3d7b.74d354","order":2,"disp":true,"width":"6","collapse":false},{"id":"4e3e3d7b.74d354","type":"ui_tab","name":"Control","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"443b74ee.a8848c","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"56929071.91105","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"2fe3a81f.0234d","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"9e5f8139.45bed","type":"ui_tab","name":"Online Radio","icon":"dashboard","order":4,"disabled":false,"hidden":true},{"id":"605e51dc.6bbdc","type":"ui_group","name":"Stations","tab":"9e5f8139.45bed","order":2,"disp":true,"width":"6"},{"id":"6576614a.5a1338","type":"ui_group","name":"Control","tab":"9e5f8139.45bed","order":3,"disp":true,"width":"6"},{"id":"1357b044.999f68","type":"ui_group","name":"Microfone","tab":"9e5f8139.45bed","order":1,"disp":true,"width":"6","collapse":false},{"id":"161966cb.05e369","type":"ui_group","name":"Microfone","tab":"4e3e3d7b.74d354","order":1,"disp":true,"width":"6","collapse":false},{"id":"e06a33c3.b292d","type":"ui_tab","name":"News","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"24d498b4.797fb8","type":"ui_group","name":"Principais Notícias","tab":"e06a33c3.b292d","order":2,"disp":true,"width":"6","collapse":false},{"id":"62b1d007.796ac","type":"ui_group","name":"Microfone","tab":"e06a33c3.b292d","order":1,"disp":true,"width":"6","collapse":false},{"id":"74f9fc8e.d242cc","type":"wiotp-credentials","name":"","org":"1g0jw9","serverName":"1g0jw9.messaging.internetofthings.ibmcloud.com/","devType":"Raspberry","devId":"Assistente","keepalive":"60","cleansession":true,"tls":"2fe3a81f.0234d","usetls":false},{"id":"7486f12f.12469","type":"mqtt-broker","name":"Sensor Celular","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"37a139a1.1e86fe","type":"ui_tab","name":"Autenticação","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"bd339949.9fefb","type":"ui_group","name":"Senha","tab":"37a139a1.1e86fe","order":1,"disp":true,"width":11,"collapse":false},{"id":"afe4e90c.04e","type":"ui_tab","name":"Ligar as Luzes?","icon":"dashboard","order":5,"disabled":false,"hidden":true},{"id":"658e4def.556504","type":"ui_group","name":"Gostaria de ligas as luzes?","tab":"afe4e90c.04e","order":1,"disp":true,"width":"6","collapse":false},{"id":"2b1bab90.793f1c","type":"ui_spacer","name":"spacer","group":"658e4def.556504","order":1,"width":6,"height":1},{"id":"fbf3e0ef.7754b","type":"ui_group","name":"Abas","tab":"9e5f8139.45bed","order":4,"disp":true,"width":"6","collapse":false},{"id":"9cbe080.87269f8","type":"ui_group","name":"Abas","tab":"4e3e3d7b.74d354","order":3,"disp":true,"width":"6","collapse":false},{"id":"77ab2272.e4b3f4","type":"ui_group","name":"Abas","tab":"e06a33c3.b292d","order":3,"disp":true,"width":"6","collapse":false},{"id":"cbe87772.41ca4","type":"ui_spacer","name":"spacer","group":"fd8f8496.866df8","order":1,"width":1,"height":1},{"id":"4ee2f9f2.c4ca2","type":"ui_spacer","name":"spacer","group":"a7798b99.08ab98","order":3,"width":6,"height":1},{"id":"48f22d25.71480c","type":"ui_spacer","name":"spacer","group":"a7798b99.08ab98","order":6,"width":6,"height":1},{"id":"2c9e6873.801be8","type":"debug","z":"dbc097c2.89e948","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":180,"y":200,"wires":[]},{"id":"ebf5373d.97d01","type":"switch","z":"dbc097c2.89e948","name":"task","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"tocar","vt":"str"},{"t":"cont","v":"toque","vt":"str"},{"t":"cont","v":"toque","vt":"str"},{"t":"cont","v":"play","vt":"str"},{"t":"cont","v":"desligar","vt":"str"},{"t":"cont","v":"pare","vt":"str"},{"t":"cont","v":"parar","vt":"str"},{"t":"cont","v":"pause","vt":"str"},{"t":"cont","v":"aumentar","vt":"str"},{"t":"cont","v":"diminuir","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":11,"x":130,"y":440,"wires":[["7617c084.47f3"],["7617c084.47f3"],["7617c084.47f3"],["7617c084.47f3"],["4680eb4a.7ee444"],["4680eb4a.7ee444"],["4680eb4a.7ee444"],["4680eb4a.7ee444"],["9d10e31a.333c6"],["68080a38.21d90c"],["3854f520.f5ce5a"]]},{"id":"7617c084.47f3","type":"switch","z":"dbc097c2.89e948","name":"appliance on","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"jazz","vt":"str"},{"t":"cont","v":"blues","vt":"str"},{"t":"cont","v":"rock","vt":"str"},{"t":"cont","v":"roque","vt":"str"},{"t":"cont","v":"anime","vt":"str"},{"t":"cont","v":"pop","vt":"str"},{"t":"cont","v":"celta","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":390,"y":360,"wires":[["4171bc6d.46ff54"],["2c73f249.16622e"],["b0b946f7.201ce8"],["b0b946f7.201ce8"],["61a559fd.8c549"],["75b92395.6ddb3c"],["14fbd17a.676eb7"],["ef116cef.562d78"]]},{"id":"ef116cef.562d78","type":"function","z":"dbc097c2.89e948","name":"Error msg 2","func":"msg.payload=\"Malz! Eu não consigo fazer isso\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1080,"wires":[["f65d4f09.aa27c","e6fa6388.fcadb8"]]},{"id":"3854f520.f5ce5a","type":"function","z":"dbc097c2.89e948","name":"Error msg 1","func":"\nmsg.payload=\"Malz, não entendi!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":960,"wires":[["bfa2bae0.6944a8","46ab6655.4ab1d8"]]},{"id":"bfa2bae0.6944a8","type":"debug","z":"dbc097c2.89e948","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":440,"y":1060,"wires":[]},{"id":"f65d4f09.aa27c","type":"debug","z":"dbc097c2.89e948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":1140,"wires":[]},{"id":"c4f6fa02.bd56c8","type":"play audio","z":"dbc097c2.89e948","name":"","voice":"46","x":700,"y":1000,"wires":[]},{"id":"9b90e76d.312148","type":"exec","z":"dbc097c2.89e948","command":"mplayer -slave  -input file=/tmp/mplayer-control http://us4.internet-radio.com:8266/stream > /dev/null 2>&1 &","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Jazz","x":1570,"y":60,"wires":[[],[],[]]},{"id":"d7091fc6.7c9328","type":"exec","z":"dbc097c2.89e948","command":"mplayer -slave  -input file=/tmp/mplayer-control http://uk3.internet-radio.com:8405/live > /dev/null 2>&1 &","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Blues","x":1570,"y":120,"wires":[[],[],[]]},{"id":"e35c3c29.83d97","type":"exec","z":"dbc097c2.89e948","command":"mplayer -slave  -input file=/tmp/mplayer-control http://uk7.internet-radio.com:8226/stream > /dev/null 2>&1 &","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Pop","x":1570,"y":360,"wires":[[],[],[]]},{"id":"e7b0373f.ec893","type":"exec","z":"dbc097c2.89e948","command":"mplayer -slave  -input file=/tmp/mplayer-control http://198.58.98.83:8258/stream > /dev/null 2>&1 &","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Rock","x":1570,"y":180,"wires":[[],[],[]]},{"id":"237c5991.6928fe","type":"exec","z":"dbc097c2.89e948","command":"killall mplayer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Pause","x":1330,"y":60,"wires":[["dcd0dcd8.e3d4a"],[],[]]},{"id":"dcd0dcd8.e3d4a","type":"exec","z":"dbc097c2.89e948","command":"mkfifo /tmp/mplayer-control","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fifo","x":1450,"y":60,"wires":[["9b90e76d.312148"],[],[]]},{"id":"7f1f30e2.683a28","type":"exec","z":"dbc097c2.89e948","command":"amixer set Master 10%+","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Volume +10","x":610,"y":500,"wires":[[],[],[]]},{"id":"36a3e891.3017a8","type":"exec","z":"dbc097c2.89e948","command":"amixer set Master 10%-","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Volume -10","x":590,"y":580,"wires":[[],[],[]]},{"id":"4680eb4a.7ee444","type":"exec","z":"dbc097c2.89e948","command":"killall mplayer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Pause/Desligue","x":600,"y":440,"wires":[[],[],[]]},{"id":"577b7ac5.04504c","type":"exec","z":"dbc097c2.89e948","command":"killall mplayer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Pause","x":1330,"y":120,"wires":[["99f80944.e938b"],[],[]]},{"id":"99f80944.e938b","type":"exec","z":"dbc097c2.89e948","command":"mkfifo /tmp/mplayer-control","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fifo","x":1450,"y":120,"wires":[["d7091fc6.7c9328"],[],[]]},{"id":"1c636edb.defd11","type":"exec","z":"dbc097c2.89e948","command":"mplayer -slave  -input file=/tmp/mplayer-control http://144.217.203.184:8398/stream > /dev/null 2>&1 &","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Anime","x":1570,"y":240,"wires":[[],[],[]]},{"id":"2760277e.19c0d","type":"exec","z":"dbc097c2.89e948","command":"mplayer -slave  -input file=/tmp/mplayer-control http://us4.internet-radio.com:8266/stream > /dev/null 2>&1 &","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Celta","x":1570,"y":300,"wires":[[],[],[]]},{"id":"db5d3ac1.33ba7","type":"exec","z":"dbc097c2.89e948","command":"killall mplayer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Pause","x":1330,"y":180,"wires":[["736ac345.67bcec"],[],[]]},{"id":"736ac345.67bcec","type":"exec","z":"dbc097c2.89e948","command":"mkfifo /tmp/mplayer-control","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fifo","x":1450,"y":180,"wires":[["e7b0373f.ec893"],[],[]]},{"id":"38d54f20.9593b","type":"exec","z":"dbc097c2.89e948","command":"killall mplayer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Pause","x":1330,"y":240,"wires":[["a21d858e.19db9"],[],[]]},{"id":"a21d858e.19db9","type":"exec","z":"dbc097c2.89e948","command":"mkfifo /tmp/mplayer-control","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fifo","x":1450,"y":240,"wires":[["1c636edb.defd11"],[],[]]},{"id":"7c10c7fd.36ee68","type":"exec","z":"dbc097c2.89e948","command":"killall mplayer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Pause","x":1330,"y":300,"wires":[["12fa5e8e.a12e09"],[],[]]},{"id":"12fa5e8e.a12e09","type":"exec","z":"dbc097c2.89e948","command":"mkfifo /tmp/mplayer-control","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fifo","x":1450,"y":300,"wires":[["2760277e.19c0d"],[],[]]},{"id":"96879a3a.c6f518","type":"exec","z":"dbc097c2.89e948","command":"killall mplayer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Pause","x":1330,"y":360,"wires":[["dd658523.63b49"],[],[]]},{"id":"dd658523.63b49","type":"exec","z":"dbc097c2.89e948","command":"mkfifo /tmp/mplayer-control","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fifo","x":1450,"y":360,"wires":[["e35c3c29.83d97"],[],[]]},{"id":"e3aa14a6.fa5628","type":"play audio","z":"dbc097c2.89e948","name":"","voice":"46","x":1130,"y":1060,"wires":[]},{"id":"791930c6.4361a","type":"function","z":"71a6bdab.ab5b24","name":"set payload","func":"\nmsg.payload=msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":140,"wires":[["17c4797f.109057"]]},{"id":"52340c24.5208a4","type":"link in","z":"71a6bdab.ab5b24","name":"Entrada CV","links":["356331ce.700f46","c1bd4057.df7598","8ad612b5.92da28"],"x":55,"y":140,"wires":[["b60b6eb1.b35cb8"]]},{"id":"356331ce.700f46","type":"link out","z":"dbc097c2.89e948","name":"Saida Radio Comando de Voz","links":["52340c24.5208a4"],"x":285,"y":80,"wires":[]},{"id":"32d1bdb4.80880a","type":"link in","z":"dbc097c2.89e948","name":"Entrada Radio Comando De Voz","links":["21a256e8.594ed2"],"x":15,"y":280,"wires":[["2c9e6873.801be8","ebf5373d.97d01","c90a42d5.f20fc8"]]},{"id":"21a256e8.594ed2","type":"link out","z":"71a6bdab.ab5b24","name":"Saida CV Radio","links":["32d1bdb4.80880a"],"x":655,"y":140,"wires":[]},{"id":"17c4797f.109057","type":"switch","z":"71a6bdab.ab5b24","name":"Separação dos Flows","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"luzes","vt":"str"},{"t":"cont","v":"lâmpadas","vt":"str"},{"t":"cont","v":"lâmpada","vt":"str"},{"t":"cont","v":"luz","vt":"str"},{"t":"cont","v":"música","vt":"str"},{"t":"cont","v":"tocar","vt":"str"},{"t":"cont","v":"volume","vt":"str"},{"t":"cont","v":"rádio","vt":"str"},{"t":"cont","v":"notícia","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":10,"x":500,"y":140,"wires":[["d00e2c84.3c537"],["d00e2c84.3c537"],["d00e2c84.3c537"],["d00e2c84.3c537"],["21a256e8.594ed2"],["21a256e8.594ed2"],["21a256e8.594ed2"],["21a256e8.594ed2"],["6e62d5da.c27cb4"],[]]},{"id":"d00e2c84.3c537","type":"link out","z":"71a6bdab.ab5b24","name":"","links":["784a7572.6222fc"],"x":655,"y":100,"wires":[]},{"id":"784a7572.6222fc","type":"link in","z":"1ed90b69.16b9c5","name":"Entrada Luz Comando de Voz","links":["d00e2c84.3c537"],"x":35,"y":160,"wires":[["62c6b4ba.0e10ec","84e01cf2.b2874","b9aa9607.3869f"]]},{"id":"62c6b4ba.0e10ec","type":"switch","z":"1ed90b69.16b9c5","name":"Ações Luzes","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ligar","vt":"str"},{"t":"cont","v":"acender","vt":"str"},{"t":"cont","v":"desligar","vt":"str"},{"t":"cont","v":"apagar","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":150,"y":240,"wires":[["840ba6ee.aa42e"],["840ba6ee.aa42e"],["e0ba2fea.ee8518"],["e0ba2fea.ee8518"],[]]},{"id":"84e01cf2.b2874","type":"debug","z":"1ed90b69.16b9c5","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":180,"y":100,"wires":[]},{"id":"c1bd4057.df7598","type":"link out","z":"1ed90b69.16b9c5","name":"Saida Luzes CV","links":["52340c24.5208a4"],"x":245,"y":40,"wires":[]},{"id":"b60b6eb1.b35cb8","type":"watson-speech-to-text","z":"71a6bdab.ab5b24","name":"STT","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"xqnsGLO3Wzb646m5crC2StEadm_a3tOanYED-RoVGAMa","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/9b9766b0-27c4-4095-893b-5288bc5f72e3","x":170,"y":140,"wires":[["791930c6.4361a"]]},{"id":"46ab6655.4ab1d8","type":"watson-text-to-speech","z":"dbc097c2.89e948","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"1iOWSRCCxmLFfHbNTgHe7Fg4FuLgSeHZWHFxedNfHebG","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/d3ecf444-2c32-4664-8d57-7f36d05ceebd","x":480,"y":980,"wires":[["c4f6fa02.bd56c8"]]},{"id":"e6fa6388.fcadb8","type":"watson-text-to-speech","z":"dbc097c2.89e948","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"1iOWSRCCxmLFfHbNTgHe7Fg4FuLgSeHZWHFxedNfHebG","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/d3ecf444-2c32-4664-8d57-7f36d05ceebd","x":940,"y":1060,"wires":[["e3aa14a6.fa5628"]]},{"id":"4171bc6d.46ff54","type":"ui_button","z":"dbc097c2.89e948","name":"","group":"605e51dc.6bbdc","order":3,"width":0,"height":0,"passthru":true,"label":"Jazz","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Tocando Jazz","payloadType":"str","topic":"","x":1170,"y":60,"wires":[["237c5991.6928fe","354418b9.0c58c8"]]},{"id":"9d10e31a.333c6","type":"ui_button","z":"dbc097c2.89e948","name":"","group":"6576614a.5a1338","order":1,"width":0,"height":0,"passthru":false,"label":"Aumentar volume","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"volume 10\" > /tmp/mplayer-control","payloadType":"str","topic":"","x":390,"y":500,"wires":[["7f1f30e2.683a28"]]},{"id":"68080a38.21d90c","type":"ui_button","z":"dbc097c2.89e948","name":"","group":"6576614a.5a1338","order":2,"width":0,"height":0,"passthru":false,"label":"Diminuir volume","tooltip":"","color":"","bgcolor":"","icon":"","payload":"\"volume 10\" > /tmp/mplayer-control","payloadType":"str","topic":"","x":380,"y":580,"wires":[["36a3e891.3017a8"]]},{"id":"2c73f249.16622e","type":"ui_button","z":"dbc097c2.89e948","name":"","group":"605e51dc.6bbdc","order":3,"width":0,"height":0,"passthru":true,"label":"Blues","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Tocando Blues","payloadType":"str","topic":"","x":1170,"y":120,"wires":[["577b7ac5.04504c","354418b9.0c58c8"]]},{"id":"b0b946f7.201ce8","type":"ui_button","z":"dbc097c2.89e948","name":"Rock","group":"605e51dc.6bbdc","order":3,"width":0,"height":0,"passthru":true,"label":"Rock","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Tocando Rock","payloadType":"str","topic":"","x":1170,"y":180,"wires":[["db5d3ac1.33ba7","354418b9.0c58c8"]]},{"id":"61a559fd.8c549","type":"ui_button","z":"dbc097c2.89e948","name":"Anime","group":"605e51dc.6bbdc","order":3,"width":0,"height":0,"passthru":true,"label":"Anime","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Tocando Anime","payloadType":"str","topic":"","x":1170,"y":240,"wires":[["38d54f20.9593b","354418b9.0c58c8"]]},{"id":"75b92395.6ddb3c","type":"ui_button","z":"dbc097c2.89e948","name":"Celta","group":"605e51dc.6bbdc","order":3,"width":0,"height":0,"passthru":true,"label":"Celta","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Tocando Celta","payloadType":"str","topic":"","x":1170,"y":300,"wires":[["7c10c7fd.36ee68","354418b9.0c58c8"]]},{"id":"14fbd17a.676eb7","type":"ui_button","z":"dbc097c2.89e948","name":"Pop","group":"605e51dc.6bbdc","order":3,"width":0,"height":0,"passthru":true,"label":"Pop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Tocando Pop","payloadType":"str","topic":"","x":1170,"y":360,"wires":[["96879a3a.c6f518","354418b9.0c58c8"]]},{"id":"8d723558.d17a2","type":"ui_button","z":"dbc097c2.89e948","name":"Pause/Desligue","group":"6576614a.5a1338","order":3,"width":0,"height":0,"passthru":false,"label":"Pause/Desligue","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Desligado","payloadType":"str","topic":"","x":400,"y":440,"wires":[["4680eb4a.7ee444","354418b9.0c58c8"]]},{"id":"b84cbddd.1f7128","type":"ui_microphone","z":"dbc097c2.89e948","name":"","group":"1357b044.999f68","order":2,"width":0,"height":0,"maxLength":"20","timeslice":0,"x":110,"y":80,"wires":[["356331ce.700f46"]]},{"id":"ccf79181.5694c8","type":"ui_microphone","z":"1ed90b69.16b9c5","name":"Microfone","group":"161966cb.05e369","order":1,"width":0,"height":0,"maxLength":5,"timeslice":0,"x":120,"y":40,"wires":[["c1bd4057.df7598"]]},{"id":"c90a42d5.f20fc8","type":"ui_text","z":"dbc097c2.89e948","group":"1357b044.999f68","order":3,"width":0,"height":0,"name":"","label":"Entendido:","format":"{{msg.payload}}","layout":"row-spread","x":170,"y":260,"wires":[]},{"id":"b9aa9607.3869f","type":"ui_text","z":"1ed90b69.16b9c5","group":"161966cb.05e369","order":2,"width":0,"height":0,"name":"","label":"Entendido:","format":"{{msg.payload}}","layout":"row-spread","x":170,"y":160,"wires":[]},{"id":"7c0ca24a.789694","type":"html","z":"a42d9ab2.8bf578","name":"Parsing titles","property":"payload","outproperty":"payload","tag":"h3.thumb-title","ret":"text","as":"single","x":490,"y":180,"wires":[["fb9adeaa.761eb","cc964bc.96079b8"]]},{"id":"b660cd08.5cf508","type":"http request","z":"a42d9ab2.8bf578","name":"Request noticias","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://noticias.uol.com.br/ultimas/","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":180,"wires":[["7c0ca24a.789694"]]},{"id":"5be592f5.b4b404","type":"ui_text","z":"a42d9ab2.8bf578","group":"24d498b4.797fb8","order":0,"width":"6","height":"6","name":"Principais Notícias","label":"Principais Notícias","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":180,"wires":[]},{"id":"d8a03924.e0a3c","type":"debug","z":"a42d9ab2.8bf578","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1080,"y":120,"wires":[]},{"id":"fb9adeaa.761eb","type":"function","z":"a42d9ab2.8bf578","name":"Transformando em uma string","func":"var noticias\nmsg.payload = \"Primeira notícia: \" + msg.payload[1] + \".\\n\\n\" +\"Segunda notícia: \" + msg.payload[2] + `.\\n\\n` + \"Terceira Notícia: \" + msg.payload[3]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":180,"wires":[["5be592f5.b4b404","d8a03924.e0a3c"]]},{"id":"83f2a149.1f33e","type":"play audio","z":"a42d9ab2.8bf578","name":"","voice":"46","x":1090,"y":300,"wires":[]},{"id":"5c0d7d77.461d1c","type":"watson-text-to-speech","z":"a42d9ab2.8bf578","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"1iOWSRCCxmLFfHbNTgHe7Fg4FuLgSeHZWHFxedNfHebG","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/d3ecf444-2c32-4664-8d57-7f36d05ceebd","x":880,"y":300,"wires":[["83f2a149.1f33e"]]},{"id":"6e62d5da.c27cb4","type":"link out","z":"71a6bdab.ab5b24","name":"Saida CV News","links":["cdb7f453.05d3a"],"x":655,"y":180,"wires":[]},{"id":"cdb7f453.05d3a","type":"link in","z":"a42d9ab2.8bf578","name":"Entrada News CV","links":["6e62d5da.c27cb4"],"x":135,"y":160,"wires":[["b660cd08.5cf508","83fea76c.ced888"]]},{"id":"8ad612b5.92da28","type":"link out","z":"a42d9ab2.8bf578","name":"Saida News Comando de Voz","links":["52340c24.5208a4"],"x":315,"y":80,"wires":[]},{"id":"965d7a71.0b01d8","type":"ui_microphone","z":"a42d9ab2.8bf578","name":"","group":"62b1d007.796ac","order":2,"width":0,"height":0,"maxLength":"20","timeslice":0,"x":140,"y":80,"wires":[["8ad612b5.92da28"]]},{"id":"83fea76c.ced888","type":"ui_text","z":"a42d9ab2.8bf578","group":"62b1d007.796ac","order":3,"width":0,"height":0,"name":"","label":"Entendido:","format":"{{msg.payload}}","layout":"row-spread","x":270,"y":120,"wires":[]},{"id":"b5926d1f.11c848","type":"ui_button","z":"a42d9ab2.8bf578","name":"","group":"24d498b4.797fb8","order":1,"width":0,"height":0,"passthru":false,"label":"Notícias","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":200,"wires":[["b660cd08.5cf508"]]},{"id":"d8ddac22.b249e8","type":"mqtt in","z":"1ed90b69.16b9c5","name":"","topic":"sensornode/livestream/LightIntensity/x","qos":"2","datatype":"auto","broker":"7486f12f.12469","x":150,"y":520,"wires":[["5488f62e.6b3738","2d64f31c.72fa64","8fc59716.c50b8"]]},{"id":"5488f62e.6b3738","type":"debug","z":"1ed90b69.16b9c5","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":460,"y":580,"wires":[]},{"id":"2d64f31c.72fa64","type":"wiotp out","z":"1ed90b69.16b9c5","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"74f9fc8e.d242cc","deviceType":"","deviceId":"","event":"LuzCelular","format":"json","qos":"2","name":"Light Intensity","x":460,"y":640,"wires":[]},{"id":"dd53863c.6d1b38","type":"mqtt in","z":"dbc097c2.89e948","name":"","topic":"sensornode/livestream/noise/#","qos":"2","datatype":"auto","broker":"7486f12f.12469","x":830,"y":720,"wires":[["de1cabe3.b46ce","9abdba22.0d7b9"]]},{"id":"de1cabe3.b46ce","type":"debug","z":"dbc097c2.89e948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1170,"y":700,"wires":[]},{"id":"9abdba22.0d7b9","type":"wiotp out","z":"dbc097c2.89e948","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"74f9fc8e.d242cc","deviceType":"","deviceId":"","event":"celular","format":"json","qos":"2","name":"Intensidade Sonora","x":1163,"y":651,"wires":[]},{"id":"8fc59716.c50b8","type":"function","z":"1ed90b69.16b9c5","name":"","func":"var lightsOn = \"Você gostaria de ligar as luzes?\";\nif (parseFloat(msg.payload) <= 15.0 && !(msg.payload.bool)){\n    msg.payload = lightsOn;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":520,"wires":[["b3e3f7e7.2c1ba","ecf13ae6.19034"]]},{"id":"47d73cc.fe439c4","type":"play audio","z":"1ed90b69.16b9c5","name":"","voice":"46","x":990,"y":520,"wires":[]},{"id":"e000df02.eea888","type":"watson-text-to-speech","z":"1ed90b69.16b9c5","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"1iOWSRCCxmLFfHbNTgHe7Fg4FuLgSeHZWHFxedNfHebG","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/d3ecf444-2c32-4664-8d57-7f36d05ceebd","x":820,"y":520,"wires":[["47d73cc.fe439c4"]]},{"id":"b3e3f7e7.2c1ba","type":"delay","z":"1ed90b69.16b9c5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":600,"y":520,"wires":[["e000df02.eea888","21753d64.cffa8a"]]},{"id":"53b6f564.c9f53c","type":"ui_form","z":"d776c42e.1236b","name":"Segurança de Acesso","label":"Senha de Acesso","group":"bd339949.9fefb","order":5,"width":0,"height":0,"options":[{"label":"Insira sua senha","value":"senha","type":"password","required":true,"rows":null}],"formValue":{"senha":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":300,"y":140,"wires":[["8cf6a92b.35d73"]]},{"id":"904a410a.cabe1","type":"ui_button","z":"1ed90b69.16b9c5","name":"","group":"658e4def.556504","order":3,"width":3,"height":1,"passthru":false,"label":"Sim","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":950,"y":620,"wires":[["5054bddc.f5d2fc","74b65b8c.74c2d4"]]},{"id":"ed1d96a6.1fadb8","type":"ui_button","z":"1ed90b69.16b9c5","name":"","group":"658e4def.556504","order":2,"width":3,"height":1,"passthru":false,"label":"Não","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":950,"y":580,"wires":[["5054bddc.f5d2fc","74b65b8c.74c2d4"]]},{"id":"e3a07e5a.769378","type":"ui_ui_control","z":"1ed90b69.16b9c5","name":"","events":"connect","x":820,"y":600,"wires":[["ed1d96a6.1fadb8","904a410a.cabe1"]]},{"id":"21753d64.cffa8a","type":"function","z":"1ed90b69.16b9c5","name":"","func":"if (msg.payload == \"Você gostaria de ligar as luzes?\"){\n    msg.payload = \"Ligar as Luzes?\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":600,"wires":[["e3a07e5a.769378"]]},{"id":"5054bddc.f5d2fc","type":"function","z":"1ed90b69.16b9c5","name":"","func":"msg.payload = \"Control\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":620,"wires":[["ddcf1609.9f7cc8"]]},{"id":"ddcf1609.9f7cc8","type":"ui_ui_control","z":"1ed90b69.16b9c5","name":"","events":"connect","x":1240,"y":620,"wires":[[]]},{"id":"5c84042c.1f1a4c","type":"link in","z":"1ed90b69.16b9c5","name":"Aciona Interruptor","links":["74b65b8c.74c2d4"],"x":655,"y":340,"wires":[["2b624b40.7ff55c","4442e1f8.990a7","90ee160d.e1f7a8"]]},{"id":"74b65b8c.74c2d4","type":"link out","z":"1ed90b69.16b9c5","name":"Aciona Interruptor","links":["5c84042c.1f1a4c"],"x":1055,"y":580,"wires":[]},{"id":"ecf13ae6.19034","type":"debug","z":"1ed90b69.16b9c5","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":600,"y":440,"wires":[]},{"id":"8cf6a92b.35d73","type":"function","z":"d776c42e.1236b","name":"","func":"if (msg.payload.senha == \"sddsjocaclau\"){\n    msg.payload = \"Control\";\n    return msg;\n}\nreturn \"Senha Incorreta\";","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":140,"wires":[["11b3c89d.426ec7"]]},{"id":"11b3c89d.426ec7","type":"ui_ui_control","z":"d776c42e.1236b","name":"","events":"all","x":700,"y":140,"wires":[[]]},{"id":"1241cafc.793fad","type":"ui_button","z":"d776c42e.1236b","name":"Go to Control","group":"fbf3e0ef.7754b","order":4,"width":0,"height":0,"passthru":false,"label":"Luzes","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Control","payloadType":"str","topic":"","x":260,"y":320,"wires":[["d07d2ffb.794618"]]},{"id":"d07d2ffb.794618","type":"ui_ui_control","z":"d776c42e.1236b","name":"","events":"all","x":440,"y":400,"wires":[[]]},{"id":"3d486c1a.dd6cec","type":"ui_ui_control","z":"d776c42e.1236b","name":"","events":"all","x":800,"y":400,"wires":[[]]},{"id":"72e9a6f2.347d18","type":"ui_ui_control","z":"d776c42e.1236b","name":"","events":"all","x":1080,"y":400,"wires":[[]]},{"id":"3fe9a896.8f1ec","type":"ui_button","z":"d776c42e.1236b","name":"","group":"9cbe080.87269f8","order":1,"width":0,"height":0,"passthru":false,"label":"Radio Online","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Online Radio","payloadType":"str","topic":"","x":650,"y":320,"wires":[["3d486c1a.dd6cec"]]},{"id":"5453c119.8e928","type":"ui_button","z":"d776c42e.1236b","name":"","group":"77ab2272.e4b3f4","order":1,"width":0,"height":0,"passthru":false,"label":"Radio Online","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Online Radio","payloadType":"str","topic":"","x":950,"y":300,"wires":[["72e9a6f2.347d18"]]},{"id":"6c7ad69b.6e4da","type":"ui_button","z":"d776c42e.1236b","name":"Go to Control","group":"77ab2272.e4b3f4","order":4,"width":0,"height":0,"passthru":false,"label":"Luzes","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Control","payloadType":"str","topic":"","x":960,"y":480,"wires":[["72e9a6f2.347d18"]]},{"id":"85b58488.38f8d","type":"ui_button","z":"d776c42e.1236b","name":"Go to News","group":"9cbe080.87269f8","order":2,"width":0,"height":0,"passthru":false,"label":"Noticias","tooltip":"","color":"","bgcolor":"","icon":"","payload":"News","payloadType":"str","topic":"","x":650,"y":480,"wires":[["3d486c1a.dd6cec"]]},{"id":"cac83c8f.1fca8","type":"ui_button","z":"d776c42e.1236b","name":"Go to News","group":"fbf3e0ef.7754b","order":6,"width":0,"height":0,"passthru":false,"label":"Noticias","tooltip":"","color":"","bgcolor":"","icon":"","payload":"News","payloadType":"str","topic":"","x":270,"y":480,"wires":[["d07d2ffb.794618"]]},{"id":"106ea51f.3c2943","type":"aedes broker","z":"71a6bdab.ab5b24","name":"","mqtt_port":1883,"mqtt_ws_port":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":150,"y":260,"wires":[[]]},{"id":"840ba6ee.aa42e","type":"switch","z":"1ed90b69.16b9c5","name":"Ligar qual luz","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"sala","vt":"str"},{"t":"cont","v":"cozinha","vt":"str"},{"t":"cont","v":"quarto","vt":"str"},{"t":"cont","v":"todas","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":350,"y":220,"wires":[["2b624b40.7ff55c","86453c3c.7f5cd"],["5a5ce6f1.da55c"],["ffcd9433.8583e"],["ffcd9433.8583e","5a5ce6f1.da55c","86453c3c.7f5cd"]],"outputLabels":["false","","",""]},{"id":"e0ba2fea.ee8518","type":"switch","z":"1ed90b69.16b9c5","name":"Desligar qual luz","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"sala","vt":"str"},{"t":"cont","v":"cozinha","vt":"str"},{"t":"cont","v":"quarto","vt":"str"},{"t":"cont","v":"todas","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":350,"y":300,"wires":[["e9866359.6a2f78"],["67415f40.fdf49"],["4d00c998.f89e6"],["4d00c998.f89e6","67415f40.fdf49","e9866359.6a2f78"]]},{"id":"e9866359.6a2f78","type":"function","z":"1ed90b69.16b9c5","name":"","func":"if (msg.payload == \"desligar sala\" || msg.payload == 'apagar sala'){\n    msg.payload = true\n    return msg\n}\nmsg.payload = false\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":260,"wires":[["2b624b40.7ff55c"]]},{"id":"5e8884c.6c9627c","type":"wiotp out","z":"1ed90b69.16b9c5","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"74f9fc8e.d242cc","deviceType":"","deviceId":"","event":"luzQuarto","format":"json","qos":"2","name":"Status Luzes Quarto","x":1060,"y":320,"wires":[]},{"id":"67415f40.fdf49","type":"function","z":"1ed90b69.16b9c5","name":"","func":"if (msg.payload == \"desligar cozinha\" || msg.payload == 'apagar cozinha'){\n    msg.payload = true\n    return msg\n}\nmsg.payload = false\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":300,"wires":[["4442e1f8.990a7"]]},{"id":"4d00c998.f89e6","type":"function","z":"1ed90b69.16b9c5","name":"","func":"if (msg.payload == \"desligar quarto\" || msg.payload == 'apagar quarto'){\n    msg.payload = true\n    return msg\n}\nmsg.payload = false\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":340,"wires":[["90ee160d.e1f7a8"]]},{"id":"86453c3c.7f5cd","type":"function","z":"1ed90b69.16b9c5","name":"","func":"if (msg.payload == \"ligar\" || msg.payload == 'acender'){\n    msg.payload = false\n    return msg\n}\nmsg.payload = true\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":120,"wires":[["2b624b40.7ff55c"]]},{"id":"5a5ce6f1.da55c","type":"function","z":"1ed90b69.16b9c5","name":"","func":"if (msg.payload == \"ligar cozinha\" || msg.payload == 'acender cozinha'){\n    msg.payload = false\n    return msg\n}\nmsg.payload = true\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":160,"wires":[["4442e1f8.990a7"]]},{"id":"ffcd9433.8583e","type":"function","z":"1ed90b69.16b9c5","name":"","func":"if (msg.payload == \"ligar quarto\" || msg.payload == 'acender quarto'){\n    msg.payload = false\n    return msg\n}\nmsg.payload = true\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":200,"wires":[["90ee160d.e1f7a8"]]},{"id":"2b624b40.7ff55c","type":"ui_switch","z":"1ed90b69.16b9c5","name":"","label":"Interruptor","tooltip":"","group":"a7798b99.08ab98","order":1,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"bool","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":200,"wires":[["c7c0fce1.e0957"]]},{"id":"c7c0fce1.e0957","type":"function","z":"1ed90b69.16b9c5","name":"On/Off","func":"if (msg.payload){\n    msg.payload = \"acesas\"\n}\nelse{\n    msg.payload = \"apagadas\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":200,"wires":[["7e4c4a50.0e84a4","62c32bd9.ace81c"]]},{"id":"7e4c4a50.0e84a4","type":"ui_text","z":"1ed90b69.16b9c5","group":"a7798b99.08ab98","order":2,"width":3,"height":1,"name":"","label":"Sala","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":200,"wires":[]},{"id":"4442e1f8.990a7","type":"ui_switch","z":"1ed90b69.16b9c5","name":"","label":"Interruptor","tooltip":"","group":"a7798b99.08ab98","order":7,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"bool","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":240,"wires":[["eff5448c.7fa488"]]},{"id":"eff5448c.7fa488","type":"function","z":"1ed90b69.16b9c5","name":"On/Off","func":"if (msg.payload){\n    msg.payload = \"acesas\"\n}\nelse{\n    msg.payload = \"apagadas\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":240,"wires":[["ee50dca9.732048","f8371944.ac3ca8"]]},{"id":"90ee160d.e1f7a8","type":"ui_switch","z":"1ed90b69.16b9c5","name":"","label":"Interruptor","tooltip":"","group":"a7798b99.08ab98","order":4,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"bool","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":280,"wires":[["d811ab13.47e8f"]]},{"id":"d811ab13.47e8f","type":"function","z":"1ed90b69.16b9c5","name":"On/Off","func":"if (msg.payload){\n    msg.payload = \"acesas\"\n}\nelse{\n    msg.payload = \"apagadas\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":280,"wires":[["4de2fe06.8f268","5e8884c.6c9627c"]]},{"id":"4de2fe06.8f268","type":"ui_text","z":"1ed90b69.16b9c5","group":"a7798b99.08ab98","order":5,"width":3,"height":1,"name":"","label":"Quarto","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":280,"wires":[]},{"id":"ee50dca9.732048","type":"ui_text","z":"1ed90b69.16b9c5","group":"a7798b99.08ab98","order":8,"width":3,"height":1,"name":"","label":"Cozinha","format":"{{msg.payload}}","layout":"col-center","x":1040,"y":240,"wires":[]},{"id":"f8371944.ac3ca8","type":"wiotp out","z":"1ed90b69.16b9c5","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"74f9fc8e.d242cc","deviceType":"","deviceId":"","event":"luzCozinha","format":"json","qos":"2","name":"Status Luzes Cozinha","x":1245,"y":261,"wires":[]},{"id":"62c32bd9.ace81c","type":"wiotp out","z":"1ed90b69.16b9c5","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"74f9fc8e.d242cc","deviceType":"","deviceId":"","event":"luzSala","format":"json","qos":"2","name":"Status Luzes Sala","x":1050,"y":140,"wires":[]},{"id":"354418b9.0c58c8","type":"wiotp out","z":"dbc097c2.89e948","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"74f9fc8e.d242cc","deviceType":"","deviceId":"","event":"radio","format":"json","qos":"2","name":"Radio Status","x":1250,"y":440,"wires":[]},{"id":"e7458084.6cae7","type":"wiotp out","z":"a42d9ab2.8bf578","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"74f9fc8e.d242cc","deviceType":"","deviceId":"","event":"news","format":"json","qos":"2","name":"News Dashboard Watson","x":910,"y":340,"wires":[]},{"id":"cc964bc.96079b8","type":"function","z":"a42d9ab2.8bf578","name":"Principal Notícia","func":"msg.payload = msg.payload[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":300,"wires":[["5c0d7d77.461d1c","e7458084.6cae7"]]}]